name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install dependencies
        working-directory: ./devsu-demo-devops-nodejs
        run: npm install
      - name: Run unit tests
        working-directory: ./devsu-demo-devops-nodejs
        run: npm test
      # - name: SonarCloud Scan
      #   uses: SonarSource/sonarqube-scan-action@v6
      #   with:
      #     sonar-project-key: 'devsu-test-fabio'
      #     sonar-project-name: 'Devsu-test-fabio'
      #     sonar-token: ${{ secrets.SONAR_TOKEN }}
      #     sonar-host-url: 'https://sonarcloud.io/'
      - name: Run coverage
        working-directory: ./devsu-demo-devops-nodejs
        run: npm run test -- --coverage
      