name: SonarAnalysis
on:
  # push:
  #   branches:
  #     - main
  # pull_request:
  #   types: [opened, synchronize, reopened]
  workflow_run:
    workflows:
      - "CI/CD Pipeline"
    types:
      - completed
jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: SonarQubeScan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=fabio97U_Prueba-t-cnica-DevOps-BP
            -Dsonar.organization=fabio97u
            -Dsonar.sources=.
            -Dsonar.host.url=https://sonarcloud.io