name: ConsumerWorkflow
on:
  workflow_run:
    workflows:
      - "vulnerabilitiesScan"
    types:
      - completed

jobs:
  use-image:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Set image var from triggering run
        run: |
          IMAGE="${{ github.event.workflow_run.head_sha }}"
          echo "IMAGE_NAME=${{ secrets.ACR_LOGIN_SERVER }}/devsu-demo:${IMAGE}" >> $GITHUB_ENV
      - name: Login to Azure using service principal
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set AKS context
        uses: azure/aks-set-context@v3
        with:
          resource-group: ${{ secrets.AZURE_RESOURCE_GROUP }}
          cluster-name: ${{ secrets.AKS_CLUSTER_NAME }}

      - name: Render k8s manifest with image and apply
        run: |
          sudo apt-get update && sudo apt-get install -y gettext-base
          envsubst < k8s/deployment.yml > deployment-render.yml
          kubectl apply -f deployment-render.yml
          kubectl rollout status deployment/devsu-demo